In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
from google.colab import drive
datasets = pd.read_csv('/content/drive/MyDrive/DataSets/diabetes.csv')

In [4]:
# pd.read_csv?
datasets.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
datasets.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
datasets.shape

(768, 9)

# Data Collection and Analysis
PIMA Diabates Datasets

In [11]:
datasets.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [12]:
datasets.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [14]:
datasets['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 -> Non diabetics
1 -> Diabetics

In [15]:
datasets.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [21]:
X = datasets.drop(columns = "Outcome" , axis = 1)
Y = datasets['Outcome']
# Z = datasets.drop(index = 0,axis = 0)

In [25]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [26]:
Y.head()
# Z.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [27]:
# Data Standardization
scaler = StandardScaler()
scaler.fit(X)

StandardScaler()

In [28]:
standardised_data = scaler.transform(X)

In [29]:
standardised_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [32]:
X = standardised_data
Y = datasets['Outcome']
# print(X,Y)

In [34]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=30,train_size=0.25,stratify=Y)

In [35]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (192, 8) (576, 8)

# Training the data

In [36]:
classifier = svm.SVC(kernel="linear")

In [37]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

# Accuracy Score

In [43]:
# Training data
x_pred_train = classifier.predict(X_train)
training_data_accuracy = accuracy_score(x_pred_train,Y_train)
print(f"Accuracy Score:{training_data_accuracy}")

Accuracy Score:0.8020833333333334

In [44]:
# Test data
x_test_pred = classifier.predict(X_test)
test_data_accuracy = accuracy_score(x_test_pred,Y_test)
print(f"Accuracy Score:{test_data_accuracy}")

Accuracy Score:0.765625

# Making a Predictive data

In [52]:
# input_data = (0,137,40,35,168,43.1,2.288,33)
input_data = (4,100,90,0,0,37.3,0.191,30)

#Making a np array
nparray = np.asarray(input_data)
#Reshaping it as a 1 rows
npreshape = nparray.reshape(1,-1)
#standardizing the input data for better results
std_data = scaler.transform(npreshape)
print(std_data)

[[ 0.04601433 -0.65393918  1.08020025 -1.28821221 -0.69289057  0.67361398
  -0.84827977 -0.27575966]]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [53]:
prediction = classifier.predict(std_data)
print(prediction)

[0]

In [54]:
if prediction[0] == 1:
  print("The given input data implies that the person has diabetes")
else:
  print("The given input data implies that the person has not diabetes")

The given input data implies that the person has not diabetes